﻿@model PORCHIETTO_GestionSeguros.Models.Productores.AgregarUsuarioProductorModel

@{
    ViewBag.Title = "Agregar Usuario a Productor";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>@ViewBag.Title</h3>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="Nombre">Nombre</label>
                                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-5 col-md-offset-2">
                                <label for="Apellido">Apellido</label>
                                @{
                                    object apellidoObj = new { @class = "form-control" };
                                    if (!string.IsNullOrEmpty(Model.Apellido))
                                    {
                                        apellidoObj = new { @class = "form-control", @readonly = "readonly" };
                                    }
                                }
                                @Html.TextBoxFor(model => model.Apellido, apellidoObj)
                                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="Usuario">Usuario</label>
                                @Html.TextBoxFor(model => model.Usuario, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-5 col-md-offset-2">
                                <label for="Email">Email</label>
                                @{
                                    object emailObj = new { @class = "form-control" };
                                    if (!string.IsNullOrEmpty(Model.Email))
                                    {
                                        emailObj = new { @class = "form-control", @readonly = "readonly" };
                                    }
                                }
                                @Html.TextBoxFor(model => model.Email, emailObj)
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="Pass">Contraseña</label>
                                @Html.TextBoxFor(model => model.Pass, new { @class = "form-control", @type = "Password" })
                                @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-5 col-md-offset-2">
                                <label for="Pass">Confirmar Contraseña</label>
                                @Html.TextBoxFor(model => model.ConfirmarPass, new { @class = "form-control", @type = "Password" })
                                @Html.ValidationMessageFor(model => model.ConfirmarPass, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="dNone">
                            @Html.TextBoxFor(model => model.IdProductor, new { @class = "form-control", @type = "Password" })
                        </div>
                        <div class="ln_solid"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
                                    </button>
                                    <a href="@Url.Action("Index", "Productores")" class="btn btn-default">
                                        <i class="fa fa-times" aria-hidden="true"></i> <span>Cancelar</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
