﻿@model PORCHIETTO_GestionSeguros.Models.Productores.DetalleProductorModel

@{
    ViewBag.Title = "Detalle Productor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/BootstrapTable")
@Scripts.Render("~/bundles/BootstrapTable")
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3>
                </div>
                <div class="x_content">
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="Nombre">Nombre: </label>
                                @Html.DisplayFor(model => model.Productor.Nombre)&nbsp;@Html.DisplayFor(model => model.Productor.Apellido)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="Fecha">CUIT: </label>
                                @Html.DisplayFor(model => model.Productor.CUIT)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="email">Email: </label>
                                @Html.DisplayFor(model => model.Productor.Email)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="Telefono">Teléfono: </label>
                                @Html.DisplayFor(model => model.Productor.Telefono)
                            </div>
                        </div>
                        @if (Model.Productor.TelefonoAlternativo != null)
                        {
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="TelefonoAlternativo">Teléfono Alternativo: </label>
                                    @Html.DisplayFor(model => model.Productor.TelefonoAlternativo)
                                </div>
                            </div>
                        }
                    </fieldset>
                    <div class="ln_solid"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <a href="@Url.Action("ModificarProductor", "Productores", new { id = Model.Productor.Id })" class="btn btn-success">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                                </a>
                                <a href="@Url.Action("Index", "Productores")" class="btn btn-default">
                                    <i class="fa fa-times" aria-hidden="true"></i> <span>Cancelar</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Usuario</h4>
                </div>
                <div class="x_content">
                    @if (Model.Usuario != null)
                    {
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="Usuario">Usuario: </label>
                                @Html.DisplayFor(model => Model.Usuario.Usuario, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="Email">Email: </label>
                                @Html.DisplayFor(model => Model.Productor.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <a href="@Url.Action("BlanquearPassProductor", "Productores", new { idUsuario = Model.Usuario.Id, idProductor = Model.Productor.Id })" class="btn btn-success">
                                        <i class="fa fa-pencil" aria-hidden="true"></i> <span>Blanquear Password</span>
                                    </a>
                                    <a href="@Url.Action("EliminarUsuarioProductor", "Productores", new { idUsuario = Model.Usuario.Id, idProductor = Model.Productor.Id })" class="btn btn-default">
                                        <i class="fa fa-times" aria-hidden="true"></i> <span>Eliminar Usuario</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <a href="@Url.Action("AgregarUsuarioProductor", "Productores", new { Id = Model.Productor.Id })" class="btn btn-success">
                                        <i class="fa fa-user-plus" aria-hidden='true'></i> <span>Agregar Usuario</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
