﻿@using PORCHIETTO_GestionSeguros.Models.Productores;
@model ProductoresViewModel

@{
    ViewBag.Title = "Productores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/BootstrapTable")
@Scripts.Render("~/bundles/BootstrapTable")
@Scripts.Render("~/bundles/Productores")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Listado</small>
                </div>
                <div class="x_content">
                    <div class="">
                        <table id="TablaExtendida" class="table table-striped">
                            <thead class="bg-info">
                                <tr>
                                    <th data-sortable="true">Productor</th>
                                    <th>CUIT</th>   
                                    <th data-sortable="true">Domicilio</th>
                                    <th>Email</th>
                                    <th>Teléfono</th>
                                    <th>Tel. Alternativo</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Lista)
                                {
                                <tr id="@item.Id">
                                    <td>@item.Nombre @item.Apellido</td>
                                    <td>@item.CUIT</td>
                                    <td>@item.Domicilio</td>
                                    <td>@item.Email</td>
                                    <td>@item.Telefono</td>
                                    <td>@item.TelefonoAlternativo</td>
                                    <td>
                                        <a href="@Url.Action(item.IdUsuario != null?"DetalleProductor":"AgregarUsuarioProductor", "Productores", new { Id = item.Id })">
                                            <i class="@(item.IdUsuario != null?"fa fa-user cRed":"fa fa-user-plus cGreen")" aria-hidden='true' title="@(item.IdUsuario != null?"Ver ":"Agregar ")Usuario"></i>
                                        </a>
                                    </td>
                                    <td class="text-center"><a href="@Url.Action("DetalleProductor", "Productores", new { Id = item.Id })"><span class="fa fa-search" name="ModificarMedio" data-toggle="tooltip" data-placement="bottom" data-original-title="Detalle"></span></a></td>
                                    <td class="text-center"><a href="@Url.Action("ModificarProductor", "Productores", new { Id = item.Id })"><span class="fa fa-edit" name="ModificarProductor" data-toggle="tooltip" data-placement="bottom" data-original-title="Modificar"></span></a></td>
                                    <td class="text-center"><a href="javascript:EliminarProductor(@item.Id);"><span class="fa fa-trash" name="EliminarProductor" data-toggle="tooltip" data-placement="bottom" data-original-title="Eliminar"></span></a></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="ln_solid"></div>
                    <a href="@Url.Action("AgregarProductor", "Productores")" class="btn btn-success pull-right">
                        <i class="fa fa-plus" aria-hidden="true"></i> <span>Agregar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
