﻿@using PORCHIETTO_GestionSeguros.Models.Notificaciones;

<table id="TablaExtendida" class="table table-hover">
    <thead class="bg-info">
        <tr>
            <th data-checkbox="true"></th>
            <th data-visible="false" data-field="id"></th>
            <th class="text-right" data-sortable="true">ID</th>
            <th data-sortable="true">Cliente</th>
            <th data-visible="false" data-field="idtipo"></th>
            <th data-field="tipo" class="text-center" data-sortable="true">Tipo</th>
            <th class="text-center" data-sortable="true">Vencimiento</th>
            <th data-field="mensaje" class="text-center" data-sortable="false">Mensaje</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var notif in Model.Lista)
            {
                <tr>
                    <td></td>
                    <td>@notif.Id</td>
                    <td class="text-right">@notif.Numero</td>
                    <td>@notif.Cliente</td>
                    <td>@notif.IdTipo</td>
                    <td>@(NIXO_Framework.Services.Utiles.GetDescription(notif.Tipo))</td>
                    <td class="text-center">@notif.Vencimiento.Date.ToString(@"dd\/MM\/yyyy")</td>
                    <td class="text-left">@(string.IsNullOrEmpty(notif.Mensaje) ? string.Empty : notif.Mensaje)</td>
                    <td></td>
                    <td>
                        @if (notif.Tipo == TipoNotificaciones.Vencimientos_Pólizas)
                        {
                            <a href="@Url.Action("ModificarPoliza", "Polizas", new { Id = notif.Id })"><span class="fa fa-edit" name="ModificarPoliza" title="Modificar"></span></a>
                        }
                        else if (notif.Tipo == TipoNotificaciones.Vencimientos_Siniestros)
                        {
                            <a href="@Url.Action("ModificarSiniestro", "Siniestros", new { Id = notif.Id })"><span class="fa fa-edit" name="ModificarSiniestro" title="Modificar"></span></a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
