﻿@using PORCHIETTO_GestionSeguros.Models.Notificaciones;
@model InformeViewModel

@{
    ViewBag.Title = "Notificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/BootstrapTable")
@Styles.Render("~/Content/Animate")
@Scripts.Render("~/bundles/BootstrapTable")
@Scripts.Render("~/bundles/blockUI")
@Scripts.Render("~/bundles/Notificaciones")
@Scripts.Render("~/bundles/Notify")

<div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Reporte</small>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Tipo)
                            @Html.DropDownListFor(model => model.Tipo, Enum.GetValues(typeof(TipoNotificaciones)).Cast<TipoNotificaciones>().Select(x => new SelectListItem { Text = (@NIXO_Framework.Services.Utiles.GetDescription(x)), Value = ((int)x).ToString() }), new { @class = "form-control", @id = "ddpTipo" })
                            @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    @Html.Partial("_Notificaciones")
                    <div class="ln_solid"></div>
                    <button class="btn btn-success pull-left" onclick="MarcarNotificacionesResueltas()" title="Marcar Resueltos"><span class="fa fa-check" accesskey="m"></span>&nbsp;<u>M</u>arcar Resueltos</button>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-default pull-right">
                        <i class="fa fa-times" aria-hidden="true"></i> <span>Cancelar</span>
                    </a>
                    <button class="btn btn-success pull-right" onclick="ExportaXLS()" title="Exportar a Excel"><span class="glyphicon glyphicon-export" accesskey="x"></span>&nbsp;E<u>x</u>cel</button>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/ExportXLS");