﻿
@{
    ViewBag.Title = "Inicio de Sesión";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container-fluid">
    <div style="display: flex;justify-content: center; align-items:center">
        <div class="col-md-3">
            <div class="x_panel ">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3>
                </div>
                <div class="x_content">
                    <form action="@Url.Action("Loguearse", "Login")">
                        <fieldset>
                            <div class="form-group">
                                <label for="inputEmail" class="sr-only">Usuario</label>
                                <input type="text" name="inputUsuario" class="form-control" placeholder="Usuario" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="sr-only">Contraseña</label>
                                <input type="password" name="inputPass" class="form-control" placeholder="Contraseña" required>
                                <input type="text" name="ReturnUrl" class="dNone" value="@ViewBag.ReturnUrl" />
                            </div>

                        </fieldset>
                        <div class="ln_solid"></div>
                        <div style="display: flex;justify-content: center">
                            <button class="btn btn-success" type="submit"><span class="fa fa-sign-in fa-xs"></span>&nbsp;Ingresar</button>
                        </div>
                        <div style="display: flex;justify-content: center">
                            <a class="reset_pass" href="@Url.Action("LostPass", "Login")">¿Olvidó su contraseña?</a>
                        </div>
                    </form>
                    @{ if (!string.IsNullOrEmpty(ViewBag.Error))
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.Error
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

