﻿@model PORCHIETTO_GestionSeguros.Models.Login.LostPassRequest

@{
    ViewBag.Title = "Recuperar Contraseña";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="container-fluid">
    <div style="display: flex;justify-content: center; align-items:center">
        <div class="col-md-4">
            <div class="panel">
                <div class="title" style="text-align:center;">
                    <h3>@ViewBag.Title</h3>
                </div>
                <div class="content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group pull-right" style="margin-right: 2%;">
                                <input type="submit" value="Recuperar" class="btn btn-success" style="margin:2%;" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>