﻿@using PORCHIETTO_GestionSeguros.Models.Empresas;
@model EmpresasViewModel

@{
    ViewBag.Title = "Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/BootstrapTable")
@Scripts.Render("~/bundles/BootstrapTable")
@Scripts.Render("~/bundles/Empresas")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Listado</small>
                </div>
                <div class="x_content">
                    <div class="">
                        <table id="TablaExtendida" class="table table-striped">
                            <thead class="bg-info">
                                <tr>
                                    <th>Id</th>
                                    <th data-sortable="true">Empresa</th>
                                    <th>CUIT</th>
                                    <th data-sortable="true">Domicilio</th>
                                    <th>Teléfono</th>
                                    <th>Web</th>
                                    <th class="text-center">Ramas</th>
                                    <th class="text-center">Requerimientos</th>
                                    <th>Modificar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Lista)
                                {
                                    <tr id="@item.Id">
                                        <td>@item.Id</td>
                                        <td>@item.Nombre</td>
                                        <td>@item.CUIT</td>
                                        <td>@item.Domicilio</td>
                                        <td>@item.Telefono</td>
                                        <td>@item.Web</td>
                                        <td class="text-center"><a href="@Url.Action("ListarRamasEmpresa", "Empresas", new { Id = item.Id })"><span class="fa fa-list" name="ListarRamasEmpresa" data-toggle="tooltip" data-placement="bottom" data-original-title="Ver Ramas"></span></a></td>
                                        <td class="text-center"><a href="@Url.Action("ListarRequerimientosEmpresa", "Empresas", new { Id = item.Id})"><span class="fa fa-file-text-o" name="ListarRequerimientos" data-toggle="tooltip" data-placement="bottom" data-original-title="Ver Requerimientos"></span></a></td>
                                        <td class="text-center"><a href="@Url.Action("ModificarEmpresa", "Empresas", new { Id = item.Id })"><span class="fa fa-edit" name="ModificarEmpresa" data-toggle="tooltip" data-placement="bottom" data-original-title="Modificar"></span></a></td>
                                        <td class="text-center"><a href="javascript:EliminarEmpresa(@item.Id);"><span class="fa fa-trash" name="EliminarEmpresa" data-toggle="tooltip" data-placement="bottom" data-original-title="Eliminar"></span></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="ln_solid"></div>
                    <a href="@Url.Action("AgregarEmpresa", "Empresas")" class="btn btn-success pull-right">
                        <i class="fa fa-plus" aria-hidden="true"></i> <span>Agregar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
