﻿@using PORCHIETTO_GestionSeguros.Models.Empresas;
@model ListarRequerimientosEmpresaModel

@{
    ViewBag.Title = "Requerimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/BootstrapTable")
@Scripts.Render("~/bundles/BootstrapTable")
@Scripts.Render("~/bundles/blockUI")
@Scripts.Render("~/bundles/Requerimientos")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title - @ViewBag.Empresa</h3><small>Listado</small>
                    <label id="IdEmpresa" class="dNone">@ViewBag.EmpresaId</label>
                </div>
                <div class="x_content">
                    <div class="">
                        <table id="TablaRequerimientos" class="table table-striped">
                            <thead class="bg-info">
                                <tr>
                                    <th data-sortable="true">Nombre</th>
                                    <th data-sortable="true">Rama</th>
                                    <th class="text-center">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Lista)
                                {
                                    <tr id="@item.Id">
                                        <td>@item.Requerimiento</td>
                                        <td>@item.Rama</td>
                                        <td class="text-center"><a href="javascript:EliminarRequerimientoEmpresa(@item.Id, @ViewBag.EmpresaId);"><span class="fa fa-trash" name="EliminarRequerimientoEmpresa" title="Eliminar"></span></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="ln_solid"></div>
                    <a href="@Url.Action("AgregarRequerimientoEmpresa", "Requerimientos", new { Id = ViewBag.EmpresaId })" class="btn btn-success pull-right">
                        <i class="fa fa-plus" aria-hidden="true"></i> <span>Agregar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>