﻿@{
    ViewBag.Title = "Ramas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PORCHIETTO_GestionSeguros.Models.Ramas;

@model RamaModel


@Styles.Render("~/Content/BootstrapTable")
@Scripts.Render("~/bundles/BootstrapTable")
@Scripts.Render("~/bundles/Empresas")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>@ViewBag.Empresa</small>
                    <label id="idEmpresa" style="display: none;">@ViewBag.EmpresaId</label>
                </div>
                <div class="x_content">
                    <div class="">
                        <table id="TablaExtendida" class="table table-striped">
                            <thead class="bg-info">
                                <tr>
                                    <th>ID</th>
                                    <th data-sortable="true">Nombre</th>
                                    <th></th>
                                    <th></th>
                                    <th class="text-center">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var tipo in Model.Lista)
                                {
                                    <tr id="@tipo.Id">
                                        <td>@tipo.Id</td>
                                        <td>@tipo.Nombre</td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-center"><a href="javascript:EliminarRamaEmpresa(@tipo.Id, @ViewBag.EmpresaId);"><span class="fa fa-trash" name="EliminarRamaEmpresa" title="Eliminar"></span></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="ln_solid"></div>
                    <a href="@Url.Action("AgregarRama", "Ramas", new { Id = ViewBag.EmpresaId } )" class="btn btn-success pull-right">
                        <i class="fa fa-plus" aria-hidden="true"></i> <span>Agregar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>