﻿@model PORCHIETTO_GestionSeguros.Models.Polizas.AgregarPolizaModel

@{
    ViewBag.Title = "Pólizas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/DatePicker")
@Styles.Render("~/Content/SelectPicker")
@Scripts.Render("~/bundles/AgregarPoliza")
@Scripts.Render("~/bundles/SelectPicker")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Agregar</small>
                </div>
                <div class="x_content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-1">
                                    @Html.LabelFor(model => model.Numero)
                                    @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4 col-md-offset-2">
                                    @Html.LabelFor(model => model.IdCliente)
                                    @Html.DropDownListFor(model => model.IdCliente, (SelectList)ViewBag.Clientes, "<Seleccione un Cliente>", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdCliente, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-1">
                                    @Html.LabelFor(model => model.IdEmpresa)
                                    @Html.DropDownListFor(model => model.IdEmpresa, (SelectList)ViewBag.Empresas, "<Seleccione una Empresa>", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdEmpresa, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    @Html.LabelFor(model => model.Cobertura)
                                    @Html.TextBoxFor(model => model.Cobertura, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Cobertura, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @if ((int)Session["idproductor"] == 0)
                                {
                                    <div class="col-md-4 col-md-offset-1">
                                        @Html.LabelFor(model => model.IdProductor)
                                        @Html.DropDownListFor(model => model.IdProductor, (SelectList)ViewBag.Productores, "<Seleccione un Productor>", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.IdProductor, "", new { @class = "text-danger" })
                                    </div>
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.IdProductor)
                                }
                                <div class="col-md-4 col-md-offset-1">
                                    @Html.LabelFor(model => model.IdRama)
                                    @Html.DropDownListFor(model => model.IdRama, Enumerable.Empty<SelectListItem>(), "<Seleccione un Tipo de Póliza>", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdRama, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2 col-md-offset-1">
                                    @Html.LabelFor(model => model.Vencimiento)
                                    <div class='input-group date' id="fechavencimiento">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                        @Html.TextBoxFor(model => model.Vencimiento, new { @class = "form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Vencimiento, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4 col-md-offset-3">
                                    @Html.LabelFor(model => model.Suplemento)
                                    @Html.TextBoxFor(model => model.Suplemento, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Suplemento, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-1">
                                    @Html.LabelFor(model => model.Unidad_Nomina)
                                    @Html.EditorFor(model => model.Unidad_Nomina, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Unidad_Nomina, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4 col-md-offset-2">
                                    @Html.LabelFor(model => model.Dominio)
                                    @Html.EditorFor(model => model.Dominio, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Dominio, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-plus" aria-hidden="true"></i> Agregar
                            </button>
                            <a href="@Url.Action("Index", "Polizas")" class="btn btn-default">
                                <i class="fa fa-times" aria-hidden="true"></i> <span>Cancelar</span>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
