﻿@model PORCHIETTO_GestionSeguros.Models.Polizas.CargarPoliza

@{
    ViewBag.Title = "Pólizas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/blockUI")
@Scripts.Render("~/bundles/CargarPolizas")


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Importar Archivo</small>
                </div>
                <div class="x_content">
                    @using (Html.BeginForm("CargarPoliza", "Polizas", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-1">
                                    @Html.LabelFor(model => model.IdEmpresa)
                                    @Html.DropDownListFor(model => model.IdEmpresa, (SelectList)ViewBag.Empresas, "<Seleccione una Empresa>", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdEmpresa, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    @Html.LabelFor(model => model.IdProductor)
                                    @Html.DropDownListFor(model => model.IdProductor, (SelectList)ViewBag.Productores, "<Seleccione un Productor>", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdProductor, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-10">
                                    @Html.LabelFor(model => model.PostedFile)
                                    @Html.TextBoxFor(model => model.PostedFile, new { type = "file", @class = "btn btn-default" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.PostedFile, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @if (!string.IsNullOrEmpty(ViewBag.Mensaje))
                            {
                                <div class="col-md-4 col-md-offset-1">
                                    <label id="errorlabel" class="text-danger">@ViewBag.Mensaje</label>
                                </div>
                            }
                            <br />
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-10">
                                    <button type="submit" id="cargararchivo" class="btn btn-success">
                                        <i class="fa fa-upload" aria-hidden="true"></i> Cargar archivo
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

