﻿@using PORCHIETTO_GestionSeguros.Models.Polizas;
@using PORCHIETTO_GestionSeguros.Models.Usuarios;
@model PolizaModel

@{
    ViewBag.Title = "Pólizas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/BootstrapTable")
@Scripts.Render("~/bundles/BootstrapTable")
@Scripts.Render("~/bundles/blockUI")
@Scripts.Render("~/bundles/Polizas")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Listado</small>
                </div>
                <div class="x_content">
                    @if ((int)Session["idproductor"] == 0 && ((List<NivelModel>)Session["niveles"]).Where(x => x.Nombre == NIXO_Framework.Niveles.Administrador.ToString() || x.Nombre == NIXO_Framework.Niveles.Empleado.ToString()).FirstOrDefault() != null)
                    {
                        <div class="row">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.IdProductor)
                                @Html.DropDownListFor(model => model.IdProductor, (SelectList)ViewBag.Productores, "<Todos>", new { @class = "form-control", @id = "ddlProductor" })
                                @Html.ValidationMessageFor(model => model.IdProductor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                    }
                    <div class="">
                        <table id="TablaExtendida" class="table table-striped">
                            <thead class="bg-info">
                                <tr>
                                    <th data-sortable="true">Póliza</th>
                                    <th data-sortable="true">Cliente</th>
                                    <th data-sortable="true">Empresa</th>
                                    <th data-sortable="true">Rama</th>
                                    <th data-sortable="true">Unidad/Nómina</th>
                                    <th data-sortable="true">Dominio</th>
                                    <th class="text-center" data-sortable="true">Vencimiento</th>
                                    <th class="text-center">Importada</th>
                                    <th class="text-center">Notificaciones</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Lista)
                                {
                                    <tr id="@item.Id">
                                        <td>@item.Numero</td>
                                        <td><a href="javascript:DetalleCliente(@item.IdCliente);"><i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp;&nbsp;@item.NombreCliente</a></td>
                                        <td>@item.NombreEmpresa</td>
                                        <td>@item.NombreTipoPoliza</td>
                                        <td>@item.Unidad_Nomina</td>
                                        <td>@item.Dominio</td>
                                        <td class="text-center">@item.Vencimiento.Date.ToString(@"dd\/MM\/yyyy")</td>
                                        <td class="text-center">@(item.Importada ? Html.Raw("<span class='fa fa-check-square'></span>") : Html.Raw(""))</td>
                                        <td class="text-center"><a href="@Url.Action("Notificaciones", "Polizas", new { Id = item.Id })"><span class="fa fa-bell" name="NotificacionesPolizas" data-toggle="tooltip" data-placement="bottom" data-original-title="Notificaciones"></span></a></td>
                                        <td><a href="@Url.Action("ModificarPoliza", "Polizas", new { Id = item.Id })"><span class="fa fa-edit" name="ModificarPoliza" data-toggle="tooltip" data-placement="bottom" data-original-title="Modificar"></span></a></td>
                                        <td><a href="javascript:EliminarPoliza(@item.Id);"><span class="fa fa-trash" name="EliminarPoliza" data-toggle="tooltip" data-placement="bottom" data-original-title="Eliminar"></span></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="ln_solid"></div>
                    <a href="@Url.Action("AgregarPoliza", "Polizas")" class="btn btn-success pull-right">
                        <i class="fa fa-plus" aria-hidden="true"></i> <span>Agregar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalCliente">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Datos de contacto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-1">
                            <label style="margin-right: 10px;">Cliente:</label><label id="cliente"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-1">
                            <label style="margin-right: 10px;">Telefono:</label><label id="telefono"></label>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            <label style="margin-right: 10px;">Celular:</label><label id="celular"></label><a id="wsp"><i class="fa fa-whatsapp" aria-hidden="true" style="color:green;font-size: 25px;margin-left: 10px;"></i></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-1">
                            <label style="margin-right: 10px;">Email:</label><label id="email"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>