﻿@using PORCHIETTO_GestionSeguros.Models.Polizas;
@model PolizaModel

@{
    ViewBag.Title = "Mis Pólizas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/BootstrapTable")
@Scripts.Render("~/bundles/BootstrapTable")
@*@Scripts.Render("~/bundles/blockUI")*@
@Scripts.Render("~/bundles/Polizas")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3>
                </div>
                <div class="x_content">
                    <div class="">
                        <table id="TablaExtendida" class="table table-striped">
                            <thead class="bg-info">
                                <tr>
                                    <th data-sortable="true">Póliza</th>
                                    <th data-sortable="true">Empresa</th>
                                    <th data-sortable="true">Rama</th>
                                    <th data-sortable="true">Unidad/Nómina</th>
                                    <th data-sortable="true">Dominio</th>
                                    <th class="text-center" data-sortable="true">Vencimiento</th>
                                    @*<th class="text-center">Notificaciones</th>*@
                                    <th class="text-center">Visualizar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Lista)
                                {
                                    <tr id="@item.Id">
                                        <td>@item.Numero</td>
                                        <td>@item.NombreEmpresa</td>
                                        <td>@item.NombreTipoPoliza</td>
                                        <td>@item.Unidad_Nomina</td>
                                        <td>@item.Dominio</td>
                                        <td class="text-center">@item.Vencimiento.Date.ToString(@"dd\/MM\/yyyy")</td>
                                        @*<td class="text-center"><a href="@Url.Action("Notificaciones", "Polizas", new { Id = item.Id })"><span class="fa fa-bell" name="NotificacionesPolizas" title="Notificaciones"></span></a></td>*@
                                        <td><a href="@Url.Action("VerPoliza", "Polizas", new { Id = item.Id })"><span class="fa fa-eye" name="VerPoliza" title="Ver"></span></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="ln_solid"></div>
                </div>
            </div>
        </div>
    </div>
</div>