﻿@using PORCHIETTO_GestionSeguros.Models.Notificaciones;
@model InformeNotificacionesPolizas

@{
    ViewBag.Title = "Notificaciones de Pólizas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/BootstrapTable")
@Styles.Render("~/Content/DatePicker")
@Scripts.Render("~/bundles/BootstrapTable")
@Scripts.Render("~/bundles/NotificacionesPolizas")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Listado</small>
                </div>
                <div class="x_content">
                    <h4>@Model.Cliente - Póliza N° @Model.IdPoliza</h4>
                    <div class="">
                        <table id="TablaExtendida" class="table table-striped">
                            <thead class="bg-info">
                                <tr>
                                    <th data-sortable="true">Mensaje</th>
                                    <th data-sortable="true">Fecha Notificación</th>
                                    <th data-sortable="true">Fecha Fin</th>
                                    <th title="Indica si la notificacion es visible para el cliente" class="text-center">Visible por Cliente</th>
                                    <th title="Usuario que genero la Notificacion">Usuario</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Lista)
                                {
                                    <tr id="@item.Id">
                                        <td>@item.Mensaje</td>
                                        <td class="text-left">@item.FechaInicio.ToString(@"dd\/MM\/yyyy")</td>
                                        <td class="text-left">@(item.FechaFin.HasValue ? item.FechaFin.Value.ToString(@"dd\/MM\/yyyy") : "")</td>
                                        <td class="text-center">
                                            @if (item.VisibleCliente)
                                            {
                                                <i class='fa fa-check'></i>
                                            }
                                        </td>
                                        <td>@item.Usuario</td>
                                        <td><a href="javascript:EliminarNotificacionPolizas(@item.Id);"><span class="fa fa-trash" name="EliminarNotificacionPoliza" title="Eliminar"></span></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="pull-right">
                        <button type="button" id="agregarNotificacion" class="btn btn-success" data-toggle="modal" data-target="#modalNotificaciones">
                            <i class="fa fa-bell-o" aria-hidden="true"></i> Agregar
                        </button>
                        <a href="@Url.Action("Index", "Polizas")" class="btn btn-default">
                            <i class="fa fa-times" aria-hidden="true"></i> <span>Cancelar</span>
                        </a>
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalNotificaciones">
    @Html.HiddenFor(model => model.IdPoliza)
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agregar Notificación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-1">
                            <h5>N° Póliza: <b>@Model.IdPoliza</b></h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-1">
                            <label for="fechaInicioNotif">Fecha Inicio</label>
                            <div class='input-group date' id="fechaInicioNotif">
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" id="fechaInicio" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            <label for="fechaFinNotif">Fecha Fin</label>
                            <div class='input-group date' id="fechaFinNotif">
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" id="fechaFin" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-1">
                            <label>Mensaje</label>
                            <textarea class="form-control" id="mensaje"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-1">
                            <input type="checkbox" id="cboxCliente" value="checkbox"> <label for="cboxCliente">Visible para el cliente</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="guardarNotificacion">Agregar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>