﻿@using PORCHIETTO_GestionSeguros.Models.Polizas;
@using PORCHIETTO_GestionSeguros.Models.Usuarios;
@model PolizaModel

@{
    ViewBag.Title = "Pólizas Anuladas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/BootstrapTable")
@Scripts.Render("~/bundles/BootstrapTable")
@Scripts.Render("~/bundles/blockUI")
@Scripts.Render("~/bundles/Polizas")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Listado</small>
                </div>
                <div class="x_content">
                    @if ((int)Session["idproductor"] == 0 && ((List<NivelModel>)Session["niveles"]).Where(x => x.Nombre == NIXO_Framework.Niveles.Administrador.ToString() || x.Nombre == NIXO_Framework.Niveles.Empleado.ToString()).FirstOrDefault() != null)
                    {
                        <div class="row">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.IdProductor)
                                @Html.DropDownListFor(model => model.IdProductor, (SelectList)ViewBag.Productores, "<Todos>", new { @class = "form-control", @id = "ddlProductor" })
                                @Html.ValidationMessageFor(model => model.IdProductor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                    }
                    <div class="">
                        <table id="TablaExtendida" class="table table-striped">
                            <thead class="bg-info">
                                <tr>
                                    <th data-sortable="true">Póliza</th>
                                    <th data-sortable="true">Cliente</th>
                                    <th data-sortable="true">Empresa</th>
                                    <th data-sortable="true">Rama</th>
                                    <th class="text-center" data-sortable="true">Fecha Borrada</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Lista)
                                {
                                    <tr id="@item.Id">
                                        <td>@item.Numero</td>
                                        <td>@item.NombreCliente</td>
                                        <td>@item.NombreEmpresa</td>
                                        <td>@item.NombreTipoPoliza</td>
                                        <td class="text-center">@item.Borrado.Value.Date.ToString(@"dd\/MM\/yyyy")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="ln_solid"></div>
                    <input  class="dNone" id="accion" value="PolizasBorradas" />
                </div>
            </div>
        </div>
    </div>
</div>