﻿@model PORCHIETTO_GestionSeguros.Models.Polizas.ModificarPolizaModel
@using PORCHIETTO_GestionSeguros.Models.Notificaciones
@{
    ViewBag.Title = "Póliza";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<NotificacionesPolizas> notificaciones = ViewBag.Notificaciones;
}

@Styles.Render("~/Content/DatePicker")
@Scripts.Render("~/bundles/AgregarPoliza")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title - @Model.Id</h3>
                </div>
                <div class="x_content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3 col-md-offset-1">
                                @Html.LabelFor(model => model.Numero)
                                @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                            <div class="col-md-4 col-md-offset-2">
                                @Html.LabelFor(model => model.IdCliente)
                                @Html.TextBox("Cliente", (string)ViewBag.Cliente, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-1">
                                @Html.LabelFor(model => model.IdEmpresa)
                                @Html.TextBox("Empresa", (string)ViewBag.Empresa, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-md-4 col-md-offset-1">
                                @Html.LabelFor(model => model.Cobertura)
                                @Html.TextBoxFor(model => model.Cobertura, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-1">
                                @Html.LabelFor(model => model.IdProductor)
                                @Html.TextBox("Productor", (string)ViewBag.Productor, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-md-4 col-md-offset-1">
                                @Html.LabelFor(model => model.IdRama)
                                @Html.TextBox("Rama", (string)ViewBag.Rama, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 col-md-offset-1">
                                @Html.LabelFor(model => model.Vencimiento)
                                @Html.TextBoxFor(model => model.Vencimiento, new { @Value = Model.Vencimiento.ToString(@"dd\/MM\/yyyy"), @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-md-4 col-md-offset-3">
                                @Html.LabelFor(model => model.Suplemento)
                                @Html.TextBoxFor(model => model.Suplemento, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 col-md-offset-1">
                                @Html.LabelFor(model => model.Unidad_Nomina)
                                @Html.EditorFor(model => model.Unidad_Nomina, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                            <div class="col-md-4 col-md-offset-2">
                                @Html.LabelFor(model => model.Dominio)
                                @Html.EditorFor(model => model.Dominio, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="ln_solid"></div>
                    <div class="pull-right">
                        <a href="@Url.Action("MisPolizas", "Polizas")" class="btn btn-default">
                            <i class="fa fa-times" aria-hidden="true"></i> <span>Volver</span>
                        </a>
                    </div>
                </div>
            </div>

            @if (notificaciones.Count > 0)
            {
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Notificaciones</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <ul class="list-unstyled timeline">
                            @foreach (NotificacionesPolizas item in notificaciones)
                            {
                                <li>
                                    <div class="block">
                                        <div class="tags">
                                            <div class="tag">
                                                <span>@item.FechaInicio.ToString(@"dd\/MM\/yyyy")</span>
                                            </div>
                                        </div>
                                        <div class="block_content">
                                            <h2 class="title">
                                                @item.Usuario
                                            </h2>
                                            @if (item.FechaFin != null)
                                            {
                                                <div class="byline">
                                                    <span>Finaliza el @(item.FechaFin?.ToString(@"dd\/MM\/yyyy"))</span>
                                                </div>
                                            }
                                            <p class="excerpt">
                                                @item.Mensaje
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


