﻿@model PORCHIETTO_GestionSeguros.Models.Legajos.AgregarLegajoModel

    @{
        ViewBag.Title = "Legajos";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>@ViewBag.Title</h3><small>Agregar</small>
                    </div>
                    <div class="x_content">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-1">
                                        @Html.LabelFor(model => model.Nombre)
                                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-1">
                                        @Html.LabelFor(model => model.Ubicacion)
                                        @Html.EditorFor(model => model.Ubicacion, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Ubicacion, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-3 col-md-offset-1">
                                        @Html.LabelFor(model => model.Path)
                                        @Html.EditorFor(model => model.Path, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Path, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Agregar
                                </button>
                                <a href="@Url.Action("Index", "Legajos")" class="btn btn-default">
                                    <i class="fa fa-times" aria-hidden="true"></i> <span>Cancelar</span>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>