﻿@using PORCHIETTO_GestionSeguros.Models.Legajos;
@model LegajosViewModel

@{
    ViewBag.Title = "Legajos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/BootstrapTable")
@Scripts.Render("~/bundles/BootstrapTable")
@Scripts.Render("~/bundles/Legajos")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Listado</small>
                </div>
                <div class="x_content">
                    <div class="">
                        <table id="TablaExtendida" class="table table-striped">
                            <thead class="bg-info">
                                <tr>
                                    <th data-sortable="true">Nombre</th>
                                    <th data-sortable="true">Ubicación Física</th>
                                    <th data-sortable="true">Ubicación</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Lista)
                                {
                                    <tr id="@item.Id">
                                        <td>@item.Nombre</td>
                                        <td>@item.Ubicacion</td>
                                        <td>@item.Path</td>
                                        <td class="text-center"><a href="@Url.Action("ModificarLegajo", "Legajos", new { Id = item.Id })"><span class="fa fa-edit" name="ModificarLegajo" title="Modificar"></span></a></td>
                                        <td class="text-center"><a href="javascript:EliminarLegajo(@item.Id);"><span class="fa fa-trash" name="EliminarLegajo" title="Eliminar"></span></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="ln_solid"></div>
                    <a href="@Url.Action("AgregarLegajo", "Legajos")" class="btn btn-success pull-right">
                        <i class="fa fa-plus" aria-hidden="true"></i> <span>Agregar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
