﻿@model PORCHIETTO_GestionSeguros.Models.Ramas.AgregarRamaModel

@{
    ViewBag.Title = "Ramas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Agregar</small>
                </div>
                <div class="x_content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <label for="IdEmpresa" class="control-label col-md-2">Empresa</label>
                                <div class="form-group col-md-4">
                                    @{ if (ViewBag.ListaEmpresas != null)
                                        {
                                            @Html.DropDownListFor(model => model.Id_Empresa, (SelectList)ViewBag.ListaEmpresas, "<Seleccione una Empresa>", new { @class = "form-control" })
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.Id_Empresa, new { id = "natureOfVisitField", Value = ((PORCHIETTO_GestionSeguros.Models.Empresas.ModificarEmpresaViewModel)ViewBag.Empresa).Id })
                                            @Html.Label(((PORCHIETTO_GestionSeguros.Models.Empresas.ModificarEmpresaViewModel)ViewBag.Empresa).Nombre.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
                                        }
                                    }
                                    @Html.ValidationMessageFor(model => model.Id_Empresa, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="form-group col-md-4">
                                    @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="form-group col-md-4">
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="pull-right">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Agregar
                                </button>
                                <a href="@Url.Action("Index", "Ramas")" class="btn btn-default">
                                    <i class="fa fa-times" aria-hidden="true"></i> <span>Cancelar</span>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>