﻿@{
    ViewBag.Title = "Ramas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PORCHIETTO_GestionSeguros.Models.Ramas;
@model RamaModel

@Styles.Render("~/Content/BootstrapTable")
@Scripts.Render("~/bundles/BootstrapTable")
@Scripts.Render("~/bundles/Ramas")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Listado</small>
                </div>
                <div class="x_content">
                    <div class="">
                        <table id="TablaExtendida" class="table table-striped">
                            <thead class="bg-info">
                                <tr>
                                    <th>Codigo</th>
                                    <th data-sortable="true">Nombre</th>
                                    <th data-sortable="true">Empresa</th>
                                    <th class="text-center">Modificar</th>
                                    <th class="text-center">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var tipo in Model.Lista)
                                {
                                    <tr id="@tipo.Id">
                                        <td>@tipo.Codigo</td>
                                        <td>@tipo.Nombre</td>
                                        <td>
                                            @{
                                                var nombreempresa = (((List<PORCHIETTO_GestionSeguros.Models.Empresas.AgregarEmpresaViewModel>)ViewBag.Empresas).Where(x => x.Id == tipo.Id_Empresa).FirstOrDefault()).Nombre.ToString();
                                                @Html.Raw(nombreempresa)
                                            }
                                        </td>
                                        <td class="text-center"><a href="@Url.Action("ModificarRama", "Ramas" , new { Id = tipo.Id })"><span class="fa fa-edit" name="ModificarRama" data-toggle="tooltip" data-placement="bottom" data-original-title="Modificar"></span></a></td>
                                        <td class="text-center"><a href="javascript:EliminarRama(@tipo.Id);"><span class="fa fa-trash" name="EliminarRama" data-toggle="tooltip" data-placement="bottom" data-original-title="Eliminar"></span></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="ln_solid"></div>
                    <a href="@Url.Action("AgregarRama", "Ramas" )" class="btn btn-success pull-right">
                        <i class="fa fa-plus" aria-hidden="true"></i> <span>Agregar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>