﻿@model PORCHIETTO_GestionSeguros.Models.Ramas.AgregarRamaModel

@{
    ViewBag.Title = "Ramas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Modificar</small>
                </div>
                <div class="x_content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                            <div class="row">
                                <label for="IdEmpresa" class="control-label col-md-2">Empresa</label>
                                <div class="form-group col-md-4">
                                    @Html.DropDownList("Id_Empresa", (SelectList)ViewBag.Empresas, "<Seleccione una Empresa >", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Id_Empresa, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="form-group col-md-4">
                                    @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="form-group col-md-4">
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    <div class="ln_solid"></div>
                    <div class="pull-right">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
                            </button>
                            <a href="@Url.Action("Index", "Ramas")" class="btn btn-default">
                                <i class="fa fa-times" aria-hidden="true"></i> <span>Cancelar</span>
                            </a>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>