﻿@{
    ViewBag.Title = "Requerimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PORCHIETTO_GestionSeguros.Models.Empresas;
@model RequerimientosModel

@Styles.Render("~/Content/BootstrapTable")
@Scripts.Render("~/bundles/BootstrapTable")
@Scripts.Render("~/bundles/Requerimientos")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Listado</small>
                </div>
                <div class="x_content">
                    <div class="">
                        <table id="TablaExtendida" class="table table-striped">
                            <thead class="bg-info">
                                <tr>
                                    <th data-sortable="true">Nombre</th>
                                    <th class="text-center">Modificar</th>
                                    <th class="text-center">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var tipo in Model.Lista)
                                {
                                    <tr id="@tipo.Id">
                                        <td>@tipo.Nombre</td>
                                        <td class="text-center"><a href="@Url.Action("ModificarRequerimiento", "Requerimientos" , new { Id = tipo.Id })"><span class="fa fa-edit" name="ModificarRequerimiento" data-toggle="tooltip" data-placement="bottom" data-original-title="Modificar"></span></a></td>
                                        <td class="text-center"><a href="javascript:EliminarRequerimiento(@tipo.Id);"><span class="fa fa-trash" name="EliminarRequerimiento" data-toggle="tooltip" data-placement="bottom" data-original-title="Eliminar"></span></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="ln_solid"></div>
                    <a href="@Url.Action("AgregarRequerimiento", "Requerimientos" )" class="btn btn-success pull-right">
                        <i class="fa fa-plus" aria-hidden="true"></i> <span>Agregar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>