﻿@using PORCHIETTO_GestionSeguros.Models.Siniestros;
@model SiniestroModel

@{
    ViewBag.Title = "Siniestros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/BootstrapTable")
@Scripts.Render("~/bundles/BootstrapTable")
@Scripts.Render("~/bundles/blockUI")
@Scripts.Render("~/bundles/Siniestros")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Listado Histórico</small>
                </div>
                <div class="x_content">
                    <div class="">
                        <table id="TablaExtendida" class="table table-striped">
                            <thead class="bg-info">
                                <tr>
                                    <th data-sortable="true">ID</th>
                                    <th data-sortable="true">Fecha Siniestro</th>
                                    <th data-sortable="true">Cliente</th>
                                    <th data-sortable="true">Rama</th>
                                    <th data-sortable="true">Fecha Finalizado</th>
                                    <th data-sortable="true">Fecha Borrado</th>
                                    <th class="text-center">Requerimientos</th>
                                    <th class="text-center">Notificaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Lista)
                                {
                                <tr id="@item.Id">
                                    <td>@item.Id</td>
                                    <td class="text-center">@(item.FechaSiniestro.HasValue ? item.FechaSiniestro.Value.ToString(@"dd\/MM\/yyyy") : "")</td>
                                    <td>@item.NombreCliente</td>
                                    <td>@item.Rama</td>
                                    <td class="text-center">@(item.FechaFin.HasValue ? item.FechaFin.Value.ToString(@"dd\/MM\/yyyy") : "")</td>
                                    <td class="text-center">@(item.Borrado.HasValue ? item.Borrado.Value.ToString(@"dd\/MM\/yyyy") : "")</td>
                                    <td class="text-center"><a href="@Url.Action("RequerimientoDeSiniestro", "Siniestros", new { Id = item.Id })"><span class="fa fa-list" name="RequerimientosSiniestro" title="Requerimientos"></span></a></td>
                                    <td class="text-center"><a href="@Url.Action("Notificaciones", "Siniestros", new { Id = item.Id })"><span class="fa fa-bell" name="NotificacionesSiniestro" title="Notificaciones"></span></a></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="ln_solid"></div>
                    <a href="@Url.Action("AgregarSiniestro", "Siniestros")" class="btn btn-success pull-right">
                        <i class="fa fa-plus" aria-hidden="true"></i> <span>Agregar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
