﻿@using PORCHIETTO_GestionSeguros.Models.Siniestros;
@model SiniestroModel

@{
    ViewBag.Title = "Mis Siniestros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/BootstrapTable")
@Scripts.Render("~/bundles/BootstrapTable")
@Scripts.Render("~/bundles/Siniestros")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3>
                </div>
                <div class="x_content">
                    <div class="">
                        <table id="TablaExtendida" class="table table-striped">
                            <thead class="bg-info">
                                <tr>
                                    <th data-sortable="true">ID</th>
                                    <th data-sortable="true">Fecha Siniestro</th>
                                    <th data-sortable="true">Rama</th>
                                    <th class="text-center">Visualizar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Lista)
                                {
                                    <tr id="@item.Id">
                                        <td>@item.Id</td>
                                        <td class="text-center">@(item.FechaSiniestro.HasValue ? item.FechaSiniestro.Value.ToString(@"dd\/MM\/yyyy") : "")</td>
                                        <td>@item.Rama</td>
                                        <td><a href="@Url.Action("VerSiniestro", "Siniestros", new { Id = item.Id })"><span class="fa fa-eye" name="VerSiniestro" title="Ver"></span></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="ln_solid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

