﻿@model PORCHIETTO_GestionSeguros.Models.Siniestros.AgregarSiniestroModel
@{
    ViewBag.Title = "Siniestro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Styles.Render("~/Content/DatePicker")
@Styles.Render("~/Content/SelectPicker")
@Scripts.Render("~/bundles/AgregarSiniestro")
@Scripts.Render("~/bundles/SelectPicker")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Modificar</small>
                </div>
                <div class="x_content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id, new { @id = "Id" });
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-1">
                                    @Html.LabelFor(model => model.IdCliente)
                                    @Html.DropDownListFor(model => model.IdCliente, (SelectList)ViewBag.Clientes, "<Seleccione un Cliente>", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdCliente, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3 col-md-offset-1">
                                    @Html.LabelFor(model => model.FechaSiniestro)
                                    <div class='input-group date' id="FechaSiniestro">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                        @Html.TextBoxFor(model => model.FechaSiniestro, new { @Value = Model.FechaSiniestro.Value.ToString(@"dd\/MM\/yyyy"), @class = "form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.FechaSiniestro, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-1">
                                    <label for="IdEmpresa">Empresa asegurado</label>
                                    @Html.DropDownListFor(model => model.IdEmpresa, (SelectList)ViewBag.Empresas, "<Seleccione una Empresa>", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdEmpresa, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    @Html.LabelFor(model => model.IdRama)
                                    @Html.DropDownListFor(model => model.IdRama, (SelectList)ViewBag.Ramas, "<Seleccione una Rama>", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdRama, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-1">
                                    @Html.LabelFor(model => model.ApellidoNombreTercero)
                                    @Html.TextBoxFor(model => model.ApellidoNombreTercero, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ApellidoNombreTercero, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    @Html.LabelFor(model => model.IdCompañiaTercero)
                                    @Html.DropDownListFor(model => model.IdCompañiaTercero, (SelectList)ViewBag.Empresas, "<Seleccione una Empresa>", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdCompañiaTercero, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-1">
                                    @Html.LabelFor(model => model.TelefonoTercero)
                                    @Html.TextBoxFor(model => model.TelefonoTercero, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TelefonoTercero, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    @Html.LabelFor(model => model.IdRamaTercero)
                                    @Html.DropDownListFor(model => model.IdRamaTercero, ((SelectList)ViewBag.RamasTercero ?? Enumerable.Empty<SelectListItem>()), "<Seleccione una Rama>", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdRamaTercero, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.IdRamaTercero)
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-1">
                                    @Html.LabelFor(model => model.Carpeta)
                                    @Html.TextBoxFor(model => model.Carpeta, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Carpeta, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-1">
                                    @Html.LabelFor(model => model.Observaciones)
                                    @Html.TextAreaFor(model => model.Observaciones, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-1">
                                    <a href="@Url.Action("Notificaciones", "Siniestros", new { Id = Model.Id })" class="btn btn-default">
                                        <i class="fa fa-bell-o" aria-hidden="true"></i> Agregar Notificación
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
                            </button>
                            <a href="@Url.Action("Index", "Siniestros")" class="btn btn-default">
                                <i class="fa fa-times" aria-hidden="true"></i> <span>Cancelar</span>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


