﻿
@model PORCHIETTO_GestionSeguros.Models.Siniestros.RequerimientosSiniestroModel
@{
    ViewBag.Title = "Requerimiento De Siniestro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    @Html.HiddenFor(model => model.IdSiniestro, Model.IdSiniestro)
                    <h3>@ViewBag.Title</h3><small>Nº: @Html.LabelFor(model => model.IdSiniestro, Model.IdSiniestro.ToString())</small>
                </div>
                <div class="x_content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-1">
                                    <label for="IdEmpresa">Empresa Asegurado: </label>
                                    @Html.LabelFor(model => model.DescripEmpresa, Model.DescripEmpresa)
                                </div>
                                <div class="col-sm-4 col-sm-offset-1">
                                    <label for="IdEmpresa">Empresa Tercero: </label>
                                    @Html.LabelFor(model => model.DescripEmpresaTercero, Model.DescripEmpresaTercero)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-1">
                                    @for (int i = 0; i < Model.ListaReqEmpresa.Count(); i++)
                                    {
                                    <div class="col-sm-12">
                                        @Html.CheckBoxFor(model => model.ListaReqEmpresa[i].Valor, Model.ListaReqEmpresa[i].Valor)
                                        @Html.LabelFor(model => model.ListaReqEmpresa[i].DescripRequerimiento, Model.ListaReqEmpresa[i].DescripRequerimiento)
                                        @Html.HiddenFor(model => model.ListaReqEmpresa[i].IdRequerimientoEmpresa, Model.ListaReqEmpresa[i].IdRequerimientoEmpresa)
                                        @Html.HiddenFor(model => model.ListaReqEmpresa[i].IdSiniestro, Model.ListaReqEmpresa[i].IdSiniestro)
                                        @Html.HiddenFor(model => model.ListaReqEmpresa[i].Principal, Model.ListaReqEmpresa[i].Principal)
                                        @Html.HiddenFor(model => model.ListaReqEmpresa[i].Id, Model.ListaReqEmpresa[i].Id)
                                    </div>
                                    }
                                </div>
                                <div class="col-sm-4 col-sm-offset-1">
                                    @if (Model.ListaReqEmpresaTercero.Count() > 0)
                                    {
                                        for (int j = 0; j < Model.ListaReqEmpresaTercero.Count(); j++)
                                        {
                                    <div class="col-sm-12">
                                        @Html.CheckBoxFor(model => model.ListaReqEmpresaTercero[j].Valor, Model.ListaReqEmpresaTercero[j].Valor)
                                        @Html.LabelFor(model => model.ListaReqEmpresaTercero[j].DescripRequerimiento, Model.ListaReqEmpresaTercero[j].DescripRequerimiento)
                                        @Html.HiddenFor(model => model.ListaReqEmpresaTercero[j].IdRequerimientoEmpresa, Model.ListaReqEmpresaTercero[j].IdRequerimientoEmpresa)
                                        @Html.HiddenFor(model => model.ListaReqEmpresaTercero[j].IdSiniestro, Model.ListaReqEmpresaTercero[j].IdSiniestro)
                                        @Html.HiddenFor(model => model.ListaReqEmpresaTercero[j].Principal, Model.ListaReqEmpresaTercero[j].Principal)
                                        @Html.HiddenFor(model => model.ListaReqEmpresaTercero[j].Id, Model.ListaReqEmpresaTercero[j].Id)
                                    </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-plus" aria-hidden="true"></i> Agregar
                            </button>
                            <a href="@Url.Action("Index", "Siniestros")" class="btn btn-default">
                                <i class="fa fa-times" aria-hidden="true"></i> <span>Cancelar</span>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

