﻿@model PORCHIETTO_GestionSeguros.Models.Siniestros.AgregarSiniestroModel
@using PORCHIETTO_GestionSeguros.Models.Notificaciones
@{
    ViewBag.Title = "Siniestro";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<NotificacionesSiniestros> notificaciones = ViewBag.Notificaciones;
}


@Styles.Render("~/Content/DatePicker")
@Styles.Render("~/Content/SelectPicker")
@Scripts.Render("~/bundles/AgregarSiniestro")
@Scripts.Render("~/bundles/SelectPicker")
@Scripts.Render("~/bundles/NotificacionesSiniestros")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title - Nº: @Model.Id</h3>
                </div>
                <div class="x_content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-1">
                                <label for="Cliente">Cliente</label>
                                @Html.TextBox("Cliente", (string)ViewBag.Cliente, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-md-3 col-md-offset-1">
                                @Html.LabelFor(model => model.FechaSiniestro)
                                @Html.TextBoxFor(model => model.FechaSiniestro, new { @Value = Model.FechaSiniestro.Value.ToString(@"dd\/MM\/yyyy"), @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-1">
                                <label for="Empresa">Empresa asegurado</label>
                                @Html.TextBox("Empresa", (string)ViewBag.Empresa, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-md-4 col-md-offset-1">
                                <label for="Rama">Rama</label>
                                @Html.TextBox("Rama", (string)ViewBag.Rama, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-1">
                                @Html.LabelFor(model => model.ApellidoNombreTercero)
                                @Html.TextBoxFor(model => model.ApellidoNombreTercero, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-md-4 col-md-offset-1">
                                <label for="EmpresaTercero">Empresa Tercero</label>
                                @Html.TextBox("EmpresaTercero", (string)ViewBag.EmpresaTercero, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-1">
                                @Html.LabelFor(model => model.TelefonoTercero)
                                @Html.TextBoxFor(model => model.TelefonoTercero, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-md-4 col-md-offset-1">
                                <label for="RamaTercero">Rama Tercero</label>
                                @Html.TextBox("RamaTercero", (string)ViewBag.RamaTercero, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-1">
                                @Html.LabelFor(model => model.Carpeta)
                                @Html.TextBoxFor(model => model.Carpeta, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-1">
                                @Html.LabelFor(model => model.Observaciones)
                                @Html.TextAreaFor(model => model.Observaciones, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="ln_solid"></div>
                    <div class="pull-right">
                        <a href="@Url.Action("MisSiniestros", "Siniestros")" class="btn btn-default">
                            <i class="fa fa-times" aria-hidden="true"></i> <span>Volver</span>
                        </a>
                    </div>
                </div>
            </div>

            @if (notificaciones.Count > 0)
            {
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Notificaciones</h2>
                        <div class="pull-right">
                            <button type="button" id="agregarNotificacion" class="btn btn-success" data-toggle="modal" data-target="#modalNotificacionesCliente">
                                <i class="fa fa-bell-o" aria-hidden="true"></i> Agregar Consulta
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <ul class="list-unstyled timeline">
                            @foreach (NotificacionesSiniestros item in notificaciones)
                            {
                                <li>
                                    <div class="block">
                                        <div class="tags">
                                            <div class="tag">
                                                <span>@item.FechaInicio.ToString(@"dd\/MM\/yyyy")</span>
                                            </div>
                                        </div>
                                        <div class="block_content">
                                            <h2 class="title">
                                                @item.Usuario
                                            </h2>
                                            @if (item.FechaFin != null)
                                            {
                                                <div class="byline">
                                                    <span>Finaliza el @(item.FechaFin?.ToString(@"dd\/MM\/yyyy"))</span>
                                                </div>
                                            }
                                            <p class="excerpt">
                                                @item.Mensaje
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modalNotificacionesCliente">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agregar Consulta</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(model => model.Id)
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-1">
                            <label>Mensaje</label>
                            <textarea class="form-control" id="mensaje"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="guardarNotificacionCliente">Agregar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>