﻿@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PORCHIETTO_GestionSeguros.Models.Notificaciones

@Styles.Render("~/Content/Animate")
@Scripts.Render("~/bundles/Notify")
@Scripts.Render("~/bundles/Home")

<div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <img src="~/img/logo.png" />
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="jumbotron">
                        <h2>Hola, bienvenido a Gestión de Seguros.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    [data-notify="container"][class*="alert-pastel-"] {
        background-color: rgb(255, 255, 238);
        border-width: 0px;
        border-left: 15px solid rgb(255, 240, 106);
        border-radius: 0px;
        box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);
        letter-spacing: 0.5px;
    }

    [data-notify="container"].alert-pastel-info {
        border-left-color: rgb(255, 179, 40);
    }

    [data-notify="container"].alert-pastel-danger {
        border-left-color: rgb(255, 103, 76);
    }

    [data-notify="container"][class*="alert-pastel-"] > [data-notify="title"] {
        color: rgb(80, 80, 57);
        display: block;
        font-weight: 700;
        margin-bottom: 5px;
    }

    [data-notify="container"][class*="alert-pastel-"] > [data-notify="message"] {
        font-weight: 400;
    }
</style>

@*<script>
        $(document).ready(function () {




        });

        function Notificar(titulo, mensaje, aviso, url) {
            var mensaje = '@TempData["Mensaje"]';
            if (mensaje !== '') {
                var title = '@TempData["Titulo"]';
                if (title === '') {
                    tile = 'NOTIFICACIÓN GESTIÓN';
                }
                var url = '@TempData["URL"]';

                $.notify({
                    title: '<strong>' + title + '</strong>',
                    message: mensaje,
                    url: url,
                    target: '_self'
                }, {
                        type: 'pastel-' + '@TempData["Aviso"]',
                        delay: 8000,
                        timer: 1000,
                        placement: {
                            from: "bottom",
                            align: "right"
                        },
                        mouse_over: 'pause',
                        template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert"><button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button><span data-notify="title">{1}</span><span data-notify="message">{2}</span><a href="{3}" target="{4}" data-notify="url"></a></div>'
                    });
            }
        }
    </script>*@
