﻿@model PORCHIETTO_GestionSeguros.Models.Clientes.DetalleClienteModel

@{
    ViewBag.Title = "Detalle Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/BootstrapTable")
@Scripts.Render("~/bundles/BootstrapTable")
@Scripts.Render("~/bundles/DetalleCliente")
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3>
                </div>
                <div class="x_content">
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="Nombre">Nombre: </label>
                                @Html.DisplayFor(model => model.Cliente.Nombre)&nbsp;@Html.DisplayFor(model => model.Cliente.Apellido)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="Fecha">Fecha Nacimiento: </label>
                                @Html.DisplayFor(model => model.Cliente.FechaNacimiento)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="Fecha">Número Documento: </label>
                                @Html.DisplayFor(model => model.Cliente.DNI)
                            </div>
                        </div>
                        @if (Model.Cliente.CUIT != null)
                        {
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="Fecha">CUIT: </label>
                                    @Html.DisplayFor(model => model.Cliente.CUIT)
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="Direccion">Domicilio: </label>
                                @Html.DisplayFor(model => model.Cliente.DomicilioCalle)&nbsp;@Html.DisplayFor(model => model.Cliente.DomicilioNumero)
                            </div>
                        </div>
                        @if (Model.Cliente.TelefonoFijo != null)
                        {
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="TelefonoFijo">Teléfono: </label>
                                    @Html.DisplayFor(model => model.Cliente.TelefonoFijo)
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="TelefonoMovil">Celular: </label>
                                <div id="celular" style="display: inline;">@Html.DisplayFor(model => model.Cliente.TelefonoMovil)</div><a id="wsp"><i class="fa fa-whatsapp" aria-hidden="true" style="color:green;font-size: 25px;margin-left: 10px;"></i></a>
                            </div>
                        </div>
                        @if (Model.Cliente.email != null)
                        {
                            <div class="row">
                                <div class="form-group col-md-5">
                                    <label for="email">Email: </label>
                                    @Html.DisplayFor(model => model.Cliente.email)
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="DondePaga">Lugar de Pago: </label>
                                @Html.DisplayFor(model => model.Cliente.DomicilioCobroCalle)&nbsp;@Html.DisplayFor(model => model.Cliente.DomicilioCobroNumero)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="NombreMediodeCobranza">Medio de Cobranza: </label>
                                @Html.DisplayFor(model => model.Cliente.NombreMediodeCobranza)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="NombreMediodeCobranza">Productor: </label>
                                @Html.DisplayFor(model => model.Cliente.Productor)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="Carpeta">Carpeta: </label>
                                @Html.DisplayFor(model => model.Cliente.Carpeta)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="Observaciones">Observaciones: </label>
                                @Html.DisplayFor(model => model.Cliente.Observaciones)
                            </div>
                        </div>
                    </fieldset>
                    <div class="ln_solid"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <a href="@Url.Action("ModificarCliente", "Clientes", new { id = Model.Cliente.Id })" class="btn btn-success">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                                </a>
                                <a href="@Url.Action("Index", "Clientes")" class="btn btn-default">
                                    <i class="fa fa-times" aria-hidden="true"></i> <span>Cancelar</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordion">
                <div class="x_panel">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        <div class="x_title">
                            <h4>Listado de Polizas (@Model.Polizas.Count)</h4>
                        </div>
                    </a>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="x_content">
                            <table id="TablaExtendida" class="table table-striped">
                                <thead class="bg-info">
                                    <tr>
                                        <th data-sortable="true">Póliza</th>
                                        <th data-sortable="true">Empresa</th>
                                        <th data-sortable="true">Rama</th>
                                        <th data-sortable="true">Unidad/Nomina</th>
                                        <th data-sortable="true">Dominio</th>
                                        <th class="text-center" data-sortable="true">Vencimiento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Polizas)
                                    {
                                        <tr id="@item.Numero">
                                            <td>@item.Numero</td>
                                            <td>@item.NombreEmpresa</td>
                                            <td>@item.NombreTipoPoliza</td>
                                            <td>@item.Unidad_Nomina</td>
                                            <td>@item.Dominio</td>
                                            <td class="text-center">@item.Vencimiento.Date.ToString(@"dd\/MM\/yyyy")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        <div class="x_title">
                            <h4>
                                Referidos (@if (Model.Referidos.Count == 1 & Model.Referidos[0] == "No se encontraron asociados")
                                {<string>0</string>;
                                }
                                else
                                {<string>@Model.Referidos.Count</string>;
                            })
                            </h4>
                        </div>
                    </a>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="x_content">
                            <table class="table table-striped">
                                <tbody>
                                    @foreach (var item in Model.Referidos)
                                    {
                                        <tr>
                                            <td>@item</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        <div class="x_title">
                            <h4>Usuario</h4>
                        </div>
                    </a>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="x_content">
                            @if (Model.Usuario != null)
                            {
                                <div class="row">
                                    <div class="form-group col-md-5">
                                        <label for="Usuario">Usuario: </label>
                                        @Html.DisplayFor(model => Model.Usuario.Usuario, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-5">
                                        <label for="Email">Email: </label>
                                        @Html.DisplayFor(model => Model.Cliente.email, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <a href="@Url.Action("BlanquearPassCliente", "Clientes", new { idUsuario = Model.Usuario.Id, idCliente = Model.Cliente.Id })" class="btn btn-success">
                                                <i class="fa fa-pencil" aria-hidden="true"></i> Blanquear Password
                                            </a>
                                            <a href="@Url.Action("EliminarUsuarioCliente", "Clientes", new { idUsuario = Model.Usuario.Id, idCliente = Model.Cliente.Id })" class="btn btn-default">
                                                <i class="fa fa-times" aria-hidden="true"></i> <span>Eliminar Usuario</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
