﻿
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PORCHIETTO_GestionSeguros.Models.Clientes;
@using PORCHIETTO_GestionSeguros.Models.Usuarios;
@model ClientesListadoModel

@Styles.Render("~/Content/BootstrapTable")
@Scripts.Render("~/bundles/BootstrapTable")
@Scripts.Render("~/bundles/blockUI")
@Scripts.Render("~/bundles/Clientes")

<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Listado</small>
                </div>
                <div class="x_content">
                    @if ((int)Session["idproductor"] == 0 && ((List<NivelModel>)Session["niveles"]).Where(x => x.Nombre == NIXO_Framework.Niveles.Administrador.ToString() || x.Nombre == NIXO_Framework.Niveles.Empleado.ToString()).FirstOrDefault() != null)
                    {
                        <div class="row">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.IdProductor)
                                @Html.DropDownListFor(model => model.IdProductor, (SelectList)ViewBag.Productores, "<Todos>", new { @class = "form-control", @id = "ddlProductor" })
                                @Html.ValidationMessageFor(model => model.IdProductor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                    }
                    <div class="">                        
                        <table id="TablaExtendida" class="table table-striped">
                            <thead class="bg-info">
                                <tr>
                                    <th>Id</th>
                                    <th data-sortable="true">Cliente</th>
                                    <th>Teléfono</th>
                                    <th>Tel. Alternativo</th>
                                    <th data-sortable="true">Domicilio</th>
                                    <th>Email</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cliente in Model.Lista)
                                {
                                    <tr id="@cliente.Id">
                                        <td>@cliente.Id</td>
                                        <td>@cliente.Nombre</td>
                                        <td>@cliente.Telefono</td>
                                        <td>
                                            @cliente.TelefonoAlternativo@if (cliente.TelefonoAlternativo != null)
                                            {<a href="@("https://api.whatsapp.com/send?phone=54" + cliente.TelefonoAlternativo)"><i class="fa fa-whatsapp" aria-hidden="true" style="color:green;font-size: 20px;margin-left: 10px;"></i></a>}
                                        </td>
                                        <td>@cliente.Domicilio</td>
                                        <td>@cliente.Email</td>
                                        <td>
                                            @if (((List<NivelModel>)Session["niveles"]).Where(x => x.Nombre == NIXO_Framework.Niveles.Administrador.ToString() || x.Nombre == NIXO_Framework.Niveles.Empleado.ToString()).FirstOrDefault() != null)
                                            {
                                                <a href="@Url.Action(cliente.IdUsuario != null ? "DetalleCliente" : "AgregarUsuarioCliente", "Clientes", new { Id = cliente.Id })">
                                                    <i class="@(cliente.IdUsuario != null ? "fa fa-user cRed" : "fa fa-user-plus cGreen")" aria-hidden='true' title="@(cliente.IdUsuario != null ? "Ver " : "Agregar ")Usuario"></i>
                                                </a>
                                            }
                                        </td>
                                        <td class="text-center"><a href="@Url.Action("DetalleCliente", "Clientes", new { Id = cliente.Id })"><span class="fa fa-search" name="ModificarMedio" data-toggle="tooltip" data-placement="bottom" data-original-title="Detalle"></span></a></td>
                                        <td class="text-center"><a href="@Url.Action("ModificarCliente", "Clientes", new { Id = cliente.Id })"><span class="fa fa-edit" name="ModificarCliente" data-toggle="tooltip" data-placement="bottom" data-original-title="Modificar"></span></a></td>
                                        <td class="text-center"><a href="javascript:EliminarCliente(@cliente.Id);"><span class="fa fa-trash" name="EliminarCliente" data-toggle="tooltip" data-placement="bottom" data-original-title="Eliminar"></span></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="ln_solid"></div>
                    <a href="@Url.Action("AgregarCliente", "Clientes")" class="btn btn-success pull-right">
                        <i class="fa fa-plus" aria-hidden="true"></i> <span>Agregar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>