﻿@model PORCHIETTO_GestionSeguros.Models.Clientes.AgregarClienteModel

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/DatePicker")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Modificar</small>
                </div>
                <div class="x_content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-1">
                                    @Html.LabelFor(model => model.Nombre)
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    @Html.LabelFor(model => model.Apellido)
                                    @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-1">
                                    @Html.LabelFor(model => model.DNI)
                                    @Html.EditorFor(model => model.DNI, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DNI, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    @Html.LabelFor(model => model.CUIT)
                                    @Html.EditorFor(model => model.CUIT, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CUIT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2 col-md-offset-1">
                                    @Html.LabelFor(model => model.FechaNacimiento)
                                    <div class='input-group date' id="fechanacimiento">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                        @Html.TextBoxFor(model => model.FechaNacimiento, new { @Value = Model.FechaNacimiento?.ToString(@"dd\/MM\/yyyy"), @class = "form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3 col-md-offset-3">
                                    @Html.LabelFor(model => model.email)
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-1">
                                    @Html.LabelFor(model => model.TelefonoFijo)
                                    @Html.EditorFor(model => model.TelefonoFijo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TelefonoFijo, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3 col-md-offset-2">
                                    @Html.LabelFor(model => model.TelefonoMovil)
                                    @Html.EditorFor(model => model.TelefonoMovil, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TelefonoMovil, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-1">
                                    @Html.LabelFor(model => model.DomicilioCalle)
                                    @Html.EditorFor(model => model.DomicilioCalle, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DomicilioCalle, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-1">
                                    @Html.LabelFor(model => model.DomicilioNumero)
                                    @Html.EditorFor(model => model.DomicilioNumero, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DomicilioNumero, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    @Html.LabelFor(model => model.CodigoProvincia)
                                    @Html.DropDownListFor(model => model.CodigoProvincia, (SelectList)ViewBag.Provincias, "<Seleccione una Provincia>", new { @class = "form-control" })
                                </div>
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CodigoLocalidad)
                                    @Html.DropDownListFor(model => model.CodigoLocalidad, (SelectList)ViewBag.Localidades, "Esperando Provincia...", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-1">
                                    @Html.LabelFor(model => model.DomicilioCobroCalle)
                                    @Html.EditorFor(model => model.DomicilioCobroCalle, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DomicilioCobroCalle, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-1">
                                    @Html.LabelFor(model => model.DomicilioCobroNumero)
                                    @Html.EditorFor(model => model.DomicilioCobroNumero, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DomicilioCobroNumero, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    @Html.LabelFor(model => model.CodigoProvinciaCobro)
                                    @Html.DropDownListFor(model => model.CodigoProvinciaCobro, (SelectList)ViewBag.Provincias, "<Seleccione una Provincia>", new { @class = "form-control" })
                                </div>
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CodigoLocalidadCobro)
                                    @Html.DropDownListFor(model => model.CodigoLocalidadCobro, (SelectList)ViewBag.LocalidadesCobro, "Esperando Provincia...", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-1">
                                    @Html.CheckBoxFor(model => model.EsCabezadeGrupo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.EsCabezadeGrupo)
                                </div>
                                <div class="col-md-5 col-md-offset-1">
                                    @Html.LabelFor(model => model.IdGrupodeCobranza)
                                    @Html.DropDownListFor(model => model.IdGrupodeCobranza, (SelectList)ViewBag.Grupos, "<Ninguno>", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdGrupodeCobranza, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-1">
                                    @Html.LabelFor(model => model.Carpeta)
                                    @Html.EditorFor(model => model.Carpeta, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Carpeta, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3 col-md-offset-1">
                                    @Html.LabelFor(model => model.IdMediodeCobranza)
                                    @Html.DropDownListFor(model => model.IdMediodeCobranza, (SelectList)ViewBag.Medios, "<Seleccione Medio de Pago>", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdMediodeCobranza, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-1">
                                    @Html.LabelFor(model => model.Observaciones)
                                    @Html.TextAreaFor(model => model.Observaciones, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
                            </button>
                            <a href="@Url.Action("Index", "Clientes")" class="btn btn-default">
                                <i class="fa fa-times" aria-hidden="true"></i> <span>Cancelar</span>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>