﻿
@{
    ViewBag.Title = "Agregar Nivel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AgregarNivel", "Usuarios", FormMethod.Post))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>@ViewBag.Title</h3>para @ViewBag.Usuario
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="Nombre">Nivel</label>
                                @Html.DropDownList("IdNivel", (SelectList)ViewBag.Niveles, "<Seleccione un Nivel>", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
                                    </button>
                                    <a href="@Url.Action("Index", "Usuarios")" class="btn btn-default">
                                        <i class="fa fa-times" aria-hidden="true"></i> <span>Cancelar</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}