﻿@model PORCHIETTO_GestionSeguros.Models.Usuarios.AgregarUsuarioModel

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Detalle</small>
                </div>
                <div class="x_content">
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="Nombre">Nombre: </label>
                                @Html.DisplayFor(model => model.Nombre)&nbsp;@Html.DisplayFor(model => model.Apellido)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="Usuario">Usuario: </label>
                                @Html.DisplayFor(model => model.Usuario)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label for="Pass">Niveles: </label>
                                <ul>
                                    @foreach (var item in Model.Niveles)
                                    {
                                        <li>@item</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </fieldset>
                    <div class="ln_solid"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <a href="@Url.Action("ModificarUsuario", "Usuarios", new { id = Model.Id })" class="btn btn-success">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                                </a>
                                <a href="@Url.Action("Index", "Usuarios")" class="btn btn-default">
                                    <i class="fa fa-times" aria-hidden="true"></i> <span>Cancelar</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>