﻿
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PORCHIETTO_GestionSeguros.Models.Usuarios;

@model UsuariosModel

@Styles.Render("~/Content/BootstrapTable")
@Scripts.Render("~/bundles/BootstrapTable")
@Scripts.Render("~/bundles/usuarios")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Listado</small>
                </div>
                <div class="x_content">
                    <div class="">
                        <table id="TablaExtendida" class="table table-striped">
                            <thead class="bg-info">
                                <tr>
                                    <th data-sortable="true" class="text-left">Nombre</th>
                                    <th data-sortable="true" class="text-left">Usuario</th>
                                    <th class="text-center">Niveles</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var usuario in Model.Lista)
                                {
                                    <tr id="@usuario.Id">
                                        <td>@(usuario.Nombre + " " + usuario.Apellido)</td>
                                        <td>@usuario.Usuario.ToLower()</td>
                                        <td class="text-center">
                                            <a href="@Url.Action("ListarNiveles", "Usuarios", new { Id = usuario.Id })">
                                                @foreach (var item in usuario.Niveles)
                                                {
                                                    @(item)
                                                    <br />
                                                }
                                            </a>
                                        </td>
                                        <td class="text-center"><a href="@Url.Action("DetalleUsuario", "Usuarios", new { Id = usuario.Id })"><span class="fa fa-search" name="VerUsuario" data-toggle="tooltip" data-placement="bottom" data-original-title="Detalles"></span></a></td>
                                        <td class="text-center"><a href="@Url.Action("ModificarUsuario", "Usuarios", new { Id = usuario.Id })"><span class="fa fa-edit" name="ModificarUsuario" data-toggle="tooltip" data-placement="bottom" data-original-title="Modificar"></span></a></td>
                                        <td class="text-center"><a href="@Url.Action("ModificarPass", "Usuarios", new { Id = usuario.Id })"><span class="fa fa-wrench" name="ModificarPass" data-toggle="tooltip" data-placement="bottom" data-original-title="Cambiar Contraseña"></span></a></td>
                                        <td class="text-center"><a href="javascript:BlanquearPassModal(@usuario.Id, '@usuario.Usuario');"><span class="fa fa-flag-o" name="BlanquearPass" data-toggle="tooltip" data-placement="bottom" data-original-title="Blanquear Contraseña"></span></a></td>
                                        <td class="text-center"><a href="javascript:EliminarCliente(@usuario.Id);"><span class="fa fa-trash" name="EliminarCliente" title="Eliminar"></span></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="ln_solid"></div>
                    <a href="@Url.Action("AgregarUsuario", "Usuarios")" class="btn btn-success pull-right">
                        <i class="fa fa-plus" aria-hidden="true"></i> <span>Agregar</span>
                    </a>

                    <button type="button" class="dNone" data-toggle="modal" data-target=".bs-example-modal-sm" id="OpenModal">Small modal</button>

                    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="ConfirmModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="myModalLabel2" style="display: inline;">Atención</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="CloseModal">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ¿Está seguro que desea blanquear la contraseña del usuario <label id="usuario"></label>?
                                    <label id="idUsuario" class="dNone"></label>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                                    <button type="button" class="btn btn-danger" onclick="BlanquearPass();">SI</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


