﻿@{
    ViewBag.Title = "Niveles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PORCHIETTO_GestionSeguros.Models.Usuarios;
@model NivelesUsuariosModel

@Scripts.Render("~/bundles/Niveles")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3>de @ViewBag.Usuario
                    <label id="idUsuario" style="display: none;">@ViewBag.UsuarioId</label>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        <table id="TablaNiveles" class="table table-striped">
                            <thead class="bg-info">
                                <tr>
                                    <th>Nivel</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var tipo in Model.Lista)
                                {
                                <tr id="@tipo.Id">
                                    <td>@tipo.Nombre</td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="#"><span class="fa fa-trash" name="EliminarNivel" title="Eliminar"></span></a></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="pull-right">
                        <a href="@Url.Action("AgregarNivel", "Usuarios", new { Id = ViewBag.UsuarioId } )" class="btn btn-success">
                            <i class="fa fa-plus" aria-hidden="true"></i> <span>Agregar</span>
                        </a>
                        <a href="@Url.Action("Index", "Usuarios")" class="btn btn-default">
                            <i class="fa fa-times" aria-hidden="true"></i> <span>Cancelar</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>