﻿@model PORCHIETTO_GestionSeguros.Models.Usuarios.ModificarPassModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>Cambiar Contraseña</h3>
                    </div>
                    <div class="x_content">
                        <fieldset>
                            <div class="row">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Id)
                                <div class="form-group col-md-5">
                                    @Html.LabelFor(model => model.PassAntigua, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.PassAntigua, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PassAntigua, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-5">
                                    @Html.LabelFor(model => model.Pass, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Pass, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-5 col-md-offset-2">
                                    @Html.LabelFor(model => model.ConfirmarPass, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.ConfirmarPass, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmarPass, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </fieldset>
                        <div class="ln_solid"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
                                    </button>
                                    <a href="@Url.Action("Index", "Usuarios")" class="btn btn-default">
                                        <i class="fa fa-times" aria-hidden="true"></i> <span>Cancelar</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}





