﻿
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PORCHIETTO_GestionSeguros.Models.Usuarios.ModificarUsuarioModel

@using (Html.BeginForm("ModificarUsuario", "Usuarios", FormMethod.Post))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>@ViewBag.Title</h3><small>Modificar</small>
                    </div>
                    <div class="x_content">
                        <fieldset>
                            <div class="row">
                                <div class="form-group col-md-5">
                                    <label for="Nombre">Nombre</label>
                                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-5 col-md-offset-2">
                                    <label for="Apellido">Apellido</label>
                                    @Html.TextBoxFor(model => model.Apellido, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="Telefono">Telefono</label>
                                    @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <hr />
                        </fieldset>
                        <div class="ln_solid"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
                                    </button>
                                    <a href="@Url.Action("Index", "Usuarios")" class="btn btn-default">
                                        <i class="fa fa-times" aria-hidden="true"></i> <span>Cancelar</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}