﻿<!DOCTYPE html>
<html lang="es">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestión de Seguros | @ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Libs/Gentelella/css/custom.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

</head>

@using PORCHIETTO_GestionSeguros.Models.Usuarios;

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div role="main">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/Gentelella")
</body>
</html>