﻿<!DOCTYPE html>
<html lang="es">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestión de Seguros | @ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Libs/Gentelella/css/custom.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

</head>

@using PORCHIETTO_GestionSeguros.Models.Usuarios;

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            @if (Session["username"] != null)
            {
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="@Url.Action("Index", "Home")" class="site_title"><i class="fa fa-briefcase"></i> <span>Porchietto Seguros</span></a>
                        </div>
                        <div class="clearfix"></div>
                        <!-- menu profile quick info -->
                        <div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="~/Libs/Gentelella/images/img.png" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Bienvenido,</span>
                                @if (Session["username"] != null)
                                {
                                    <h2>@Session["username"]</h2>
                                }
                                else
                                {
                                    <h2>Visitante</h2>
                                }
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /menu profile quick info -->
                        <br />
                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style="margin-bottom:0;">
                            @if (Session["username"] != null)
                            {
                                if (((List<NivelModel>)Session["niveles"]).Where(x => x.Nombre == NIXO_Framework.Niveles.Cliente.ToString()).FirstOrDefault() != null)
                                {
                                    @Html.Partial("_MenuCliente")
                                }
                                else if (((List<NivelModel>)Session["niveles"]).Where(x => x.Nombre == NIXO_Framework.Niveles.Productor.ToString()).FirstOrDefault() != null)
                                {
                                    @Html.Partial("_MenuProductor")
                                }
                                else
                                {
                                    @Html.Partial("_MenuAdmin")
                                }
                            }
                        </div>
                        <!-- /sidebar menu -->
                    </div>
                </div>

                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            @if (Session["username"] != null)
                            {
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <img src="~/Libs/Gentelella/images/img.png" alt="">@Session["username"]
                                            <span class=" fa fa-angle-down"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                                            @{ var Id = new { Id = 0 };
                                                if (((List<NivelModel>)Session["niveles"]).Where(x => x.Nombre == NIXO_Framework.Niveles.Cliente.ToString()).FirstOrDefault() != null)
                                                {
                                                    Id = new { Id = (int)Session["idcliente"] };
                                                }
                                                else
                                                {
                                                    Id = new { Id = (int)Session["idusuario"] };
                                                }
                                            }
                                            <li><a href="@Url.Action("ModificarPass","Usuarios", Id)"> Cambiar Contraseña</a></li>
                                            <li><a href="@Url.Action("LogOut","Login")"><i class="fa fa-sign-out pull-right"></i> Salir</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="@Url.Action("Index","Login")"><i class="fa fa-sign-in pull-right" style="line-height:30px;"></i> Entrar</a></li>
                                </ul>
                            }

                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->
            }
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
        </div>
    </div>
    @Scripts.Render("~/bundles/Gentelella")
</body>
</html>