﻿@using PORCHIETTO_GestionSeguros.Models.Usuarios;
<div class="menu_section" style="height: 100vh;">
    <h3>General</h3>
    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-address-card-o"></i>Clientes <span class="fa fa-chevron-down"></span></a> @*+++++ PARA SUBMENU ++++++*@
            <ul class="nav child_menu">
                <li><a href="@Url.Action("Index", "Clientes")"> Listado </a></li>
                <li><a href="@Url.Action("AgregarCliente", "Clientes")"> Agregar </a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-money"></i>Medios de Pago <span class="fa fa-chevron-down"></span></a> @*+++++ PARA SUBMENU ++++++*@
            <ul class="nav child_menu">
                <li><a href="@Url.Action("Index", "MediosDeCobranzas")"> Listado </a></li>
                <li><a href="@Url.Action("AgregarMediosDeCobranza", "MediosDeCobranzas")"> Agregar </a></li>
                <li><a href="@Url.Action("Reportes", "MediosDeCobranzas")"> Reportes </a></li>
            </ul>
        </li>
    </ul>
    <h3>Seguros</h3>
    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-building-o"></i>Empresas <span class="fa fa-chevron-down"></span></a> @*+++++ PARA SUBMENU ++++++*@
            <ul class="nav child_menu">
                <li><a href="@Url.Action("Index", "Empresas")"> Listado </a></li>
                <li><a href="@Url.Action("AgregarEmpresa", "Empresas")"> Agregar </a></li>
                <li><a href="@Url.Action("Index", "Ramas")"> Ramas </a></li>
                <li><a href="@Url.Action("Index", "Requerimientos")"> Requerimientos </a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-users"></i>Productores <span class="fa fa-chevron-down"></span></a> @*+++++ PARA SUBMENU ++++++*@
            <ul class="nav child_menu">
                <li><a href="@Url.Action("Index", "Productores")"> Listado </a></li>
                <li><a href="@Url.Action("AgregarProductor", "Productores")"> Agregar </a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-copy"></i>Pólizas <span class="fa fa-chevron-down"></span></a> @*+++++ PARA SUBMENU ++++++*@
        <ul class="nav child_menu">
            <li><a href="@Url.Action("Index", "Polizas")"> Pólizas Vigentes </a></li>
            <li><a href="@Url.Action("PolizasVencidas", "Polizas")"> Pólizas Finalizadas </a></li>
            <li><a href="@Url.Action("PolizasBorradas", "Polizas")"> Pólizas Anuladas </a></li>
            <li><a href="@Url.Action("Index", "Legajos")"> Legajos </a></li>
            <li><a href="@Url.Action("Informe", "Notificaciones", new { Id = 1 })"> Vencimientos </a></li>
        </ul>
        </li>
        <li>
            <a><i class="fa fa-file-text-o"></i>Siniestros <span class="fa fa-chevron-down"></span></a> @*+++++ PARA SUBMENU ++++++*@
        <ul class="nav child_menu">
            <li><a href="@Url.Action("Index", "Siniestros")"> Siniestros en Curso </a></li>
            <li><a href="@Url.Action("Historico", "Siniestros")"> Historial Siniestros </a></li>
            <li><a href="@Url.Action("Informe", "Notificaciones", new { Id = 2 })"> Vencimientos </a></li>
        </ul>
        </li>
    </ul>
    @if (((List<NivelModel>)Session["niveles"]).Where(x => x.Nombre == NIXO_Framework.Niveles.Administrador.ToString()).FirstOrDefault() != null)
    {
        <h3>Avanzado</h3>
        <ul class="nav side-menu">
            <li>
                <a href="@Url.Action("Index", "Usuarios")"><i class="fa fa-user-o"></i> Usuarios </a>
            </li>
            <li>
                <a href="@Url.Action("CargarPoliza", "Polizas")"><i class="fa fa-file-excel-o"></i> Importar Polizas </a>
            </li>
        </ul>
    }
</div>
