﻿<div class="menu_section" style="height: 100vh;">
    <h3>General</h3>
    <ul class="nav side-menu">
        <li>
            <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Inicio </a>
        </li>
        <li>
            <a href="@Url.Action("MisPolizas", "Polizas")"><i class="fa fa-copy"></i> Mis Polizas </a>
        </li>
        <li>
            <a href="@Url.Action("MisSiniestros", "Siniestros")"><i class="fa fa-file-text-o"></i> Mis Siniestros </a>
        </li>
    </ul>
</div>

