﻿<div class="menu_section" style="height: 100vh;">
    <h3>General</h3>
    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-address-card-o"></i>Clientes <span class="fa fa-chevron-down"></span></a> @*+++++ PARA SUBMENU ++++++*@
            <ul class="nav child_menu">
                <li><a href="@Url.Action("Index", "Clientes")"> Listado </a></li>
                <li><a href="@Url.Action("AgregarCliente", "Clientes")"> Agregar </a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-money"></i>Medios de Pago <span class="fa fa-chevron-down"></span></a> @*+++++ PARA SUBMENU ++++++*@
            <ul class="nav child_menu">
                <li><a href="@Url.Action("Index", "MediosDeCobranzas")"> Listado </a></li>
                <li><a href="@Url.Action("Reportes", "MediosDeCobranzas")"> Reportes </a></li>
            </ul>
        </li>
    </ul>
    <h3>Seguros</h3>
    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-copy"></i>Pólizas <span class="fa fa-chevron-down"></span></a> @*+++++ PARA SUBMENU ++++++*@
            <ul class="nav child_menu">
                <li><a href="@Url.Action("Index", "Polizas")"> Pólizas Vigentes </a></li>
                <li><a href="@Url.Action("PolizasVencidas", "Polizas")"> Pólizas Finalizadas </a></li>
                <li><a href="@Url.Action("PolizasBorradas", "Polizas")"> Pólizas Anuladas </a></li>
                <li><a href="@Url.Action("Informe", "Notificaciones", new { Id = 1 })"> Vencimientos </a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-file-text-o"></i>Siniestros <span class="fa fa-chevron-down"></span></a> @*+++++ PARA SUBMENU ++++++*@
            <ul class="nav child_menu">
                <li><a href="@Url.Action("Index", "Siniestros")"> Siniestros en Curso </a></li>
                <li><a href="@Url.Action("Historico", "Siniestros")"> Historial Siniestros </a></li>
                <li><a href="@Url.Action("Informe", "Notificaciones", new { Id = 2 })"> Vencimientos </a></li>
            </ul>
        </li>
    </ul>
</div>