﻿    <table id="TablaExtendida" class="table table-hover" data-toggle="bootstrap-table" data-search="true" data-pagination="true" data-id-field="id" data-page-list="[10, 25, 50, 100, ALL]">
        <thead class="bg-info">
            <tr>
                <th data-sortable="true">Nombre</th>
                <th data-sortable="true">Direccion de Cobro</th>
                <th>Teléfono</th>
                <th>Celular</th>
                <th data-sortable="true">Cobrador/Medio de Pago</th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {
                foreach (var cliente in Model.Lista)
                {
                    if (cliente.ReferentePago)
                    {
                        <tr class="table-light">
                            <td><b>►@cliente.Nombre</b></td>
                            <td>@cliente.Direccion</td>
                            <td>@cliente.Telefono</td>
                            <td>@cliente.Celular</td>
                            <td>@cliente.NombreMediodeCobranza</td>
                        </tr>

                        foreach (var asociado in cliente.AsociadosAReferentePago)
                        {
                            <tr>
                                <td colspan="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@asociado</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>@cliente.Nombre</td>
                            <td>@cliente.Direccion</td>
                            <td>@cliente.Telefono</td>
                            <td>@cliente.Celular</td>
                            <td>@cliente.NombreMediodeCobranza</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>