﻿@model PORCHIETTO_GestionSeguros.Models.MediosDeCobranza.AgregarMediosDeCobranzaModel

@{
    ViewBag.Title = "Medios de Cobranza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Agregar</small>
                </div>
                <div class="x_content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10 pull-right">
                                    <button type="submit" class="btn btn-success">
                                        <i class="fa fa-plus" aria-hidden="true"></i> Agregar
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="ln_solid"></div>
                    <div class="pull-right">
                        <a href="@Url.Action("Index", "MediosDeCobranzas")" class="btn btn-default">
                            <i class="fa fa-times" aria-hidden="true"></i> <span>Cancelar</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

