﻿@using PORCHIETTO_GestionSeguros.Models.MediosDeCobranza;
@model ReporteClientesModel

@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reporte de Clientes a Cobrar</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <h3>Cobrador: @ViewBag.Cobrador - Productor: @ViewBag.Productor</h3>
    <table id="TablaReportesMediosDePago" class="table table-striped col-md-12">
        <thead class="bg-info">
            <tr>
                <th class="col-sm-3">Nombre</th>
                <th class="col-sm-2">Direccion de Cobro</th>
                <th class="col-sm-2">Teléfono</th>
                <th class="col-sm-2">Celular</th>
                <th class="col-sm-2 text-center">Poliza</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model.Lista)
            {
                if (cliente.ReferentePago)
                {
                    <tr class="table-light">
                        <td class="col-sm-3"><b>►@(cliente.Nombre)</b></td>
                        <td class="col-sm-2">@(cliente.Direccion)</td>
                        <td class="col-sm-2">@cliente.Telefono</td>
                        <td class="col-sm-2">@cliente.Celular</td>
                        <td class="col-sm-2">@cliente.Poliza</td>
                    </tr>
                    foreach (var asociado in cliente.AsociadosAReferentePago)
                    {
                        <tr>
                            <td colspan="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@asociado</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="col-sm-3">@(cliente.Nombre)</td>
                        <td class="col-sm-2">@(cliente.Direccion)</td>
                        <td class="col-sm-2">@cliente.Telefono</td>
                        <td class="col-sm-2">@cliente.Celular</td>
                        <td class="col-sm-2">@cliente.Poliza</td>
                    </tr>
                }
            }
        </tbody>
    </table>

</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</html>
