﻿@{
    ViewBag.Title = "Medios de Pago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PORCHIETTO_GestionSeguros.Models.MediosDeCobranza;
@using PORCHIETTO_GestionSeguros.Models.Usuarios;
@model MediosDeCobranzaModel

@Styles.Render("~/Content/BootstrapTable")
@Scripts.Render("~/bundles/BootstrapTable")
@Scripts.Render("~/bundles/MediosDeCobranzas")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="x_panel">
                <div class="x_title">
                    <h3>Medios de Pago</h3><small>Listado</small>
                </div>
                <div class="x_content">
                    <div class="">
                        <table id="TablaExtendida" class="table table-striped">
                            <thead class="bg-info">
                                <tr>
                                    <th>Id</th>
                                    <th data-sortable="true">Nombre</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var medio in Model.Lista)
                                {
                                    <tr id="@medio.Id">
                                        <td>@medio.Id</td>
                                        <td>@medio.Nombre</td>
                                        <td class="text-center">
                                            @if (((List<NivelModel>)Session["niveles"]).Where(x => x.Nombre == NIXO_Framework.Niveles.Administrador.ToString() || x.Nombre == NIXO_Framework.Niveles.Empleado.ToString()).FirstOrDefault() != null)
                                            {
                                                <a href="@Url.Action("ModificarMediosDeCobranza", "MediosDeCobranzas", new { Id = medio.Id })"><span class="fa fa-edit" name="ModificarMedio" data-toggle="tooltip" data-placement="bottom" data-original-title="Modificar"></span></a>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (((List<NivelModel>)Session["niveles"]).Where(x => x.Nombre == NIXO_Framework.Niveles.Administrador.ToString() || x.Nombre == NIXO_Framework.Niveles.Empleado.ToString()).FirstOrDefault() != null)
                                            {
                                                <a href="javascript:EliminarMedio(@medio.Id);"><span class="fa fa-trash" name="EliminarMedio" data-toggle="tooltip" data-placement="bottom" data-original-title="Eliminar"></span></a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @if (((List<NivelModel>)Session["niveles"]).Where(x => x.Nombre == NIXO_Framework.Niveles.Administrador.ToString() || x.Nombre == NIXO_Framework.Niveles.Empleado.ToString()).FirstOrDefault() != null)
                    {
                        <div class="ln_solid"></div>
                        <a href="@Url.Action("AgregarMediosDeCobranza", "MediosDeCobranzas")" class="btn btn-success pull-right">
                            <i class="fa fa-plus" aria-hidden="true"></i> <span>Agregar</span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


