﻿@using PORCHIETTO_GestionSeguros.Models.MediosDeCobranza;
@using PORCHIETTO_GestionSeguros.Models.Usuarios;
@model ReporteClientesModel

@{
    ViewBag.Title = "Medios de Pago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/BootstrapTable")
@Scripts.Render("~/bundles/BootstrapTable")
@Scripts.Render("~/bundles/blockUI")
@Scripts.Render("~/bundles/ReportesMediosDePago")

<div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>@ViewBag.Title</h3><small>Reporte de Clientes</small>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.IdMedio)
                            @Html.DropDownListFor(model => model.IdMedio, (SelectList)ViewBag.Medios, "<Todos>", new { @class = "form-control", @id = "ddpMedio" })
                            @Html.ValidationMessageFor(model => model.IdMedio, "", new { @class = "text-danger" })
                        </div>
                        @if ((int)Session["idproductor"] == 0 && ((List<NivelModel>)Session["niveles"]).Where(x => x.Nombre == NIXO_Framework.Niveles.Administrador.ToString() || x.Nombre == NIXO_Framework.Niveles.Empleado.ToString()).FirstOrDefault() != null)
                        {
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.IdProductor)
                                @Html.DropDownListFor(model => model.IdProductor, (SelectList)ViewBag.Productores, "<Todos>", new { @class = "form-control", @id = "ddpProductor" })
                                @Html.ValidationMessageFor(model => model.IdProductor, "", new { @class = "text-danger" })
                            </div>
                        }
                    </div>
                    <div class="ln_solid"></div>
                    <div class="tabla-bt">
                        @Html.Partial("_Clientes")
                    </div>
                    <div class="ln_solid"></div>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-default pull-right">
                        <i class="fa fa-times" aria-hidden="true"></i> <span>Cancelar</span>
                    </a>
                    @if (Model.Lista.Count > 0)
                    {
                        <a id="export" class="btn btn-success pull-right">
                            <i class="fa fa-print" aria-hidden="true"></i> Exportar
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("RedirectPDF", Url.Action("Pdf/", "MediosDeCobranzas", new { idMedio = "__idMedio__", idProductor = "__idProductor__" }))